<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="vue-aux.js"></script>
  <!--
  <script id="init"></script>
  <script  src="init-app.js"></script>
  -->
</head>
<body>
  <div id="app" class="container col-sm-7 text-center">
    <h1 class="" v-once>~ {{ header }} ~</h1>
  </div>
  <div class="form-group container  col-sm-6">
    <form id="send" v-on:submit.prevent="onSubmit">
      <div class="form-group">
        <label>Nome:</label>
        <input v-model="nome" placeholder="nome" class="form-control d-inline-flex p-2 bd-highlight"/>
      </div>
        <label>Sobre Nome:</label>
      <div class="form-group">
        <input v-model="sobreNome" placeholder="sobre nome" class="form-control d-inline-flex p-2 bd-highlight"/>
      </div>
        <label>Descrição:</label>
      <div class="form-group">
        <input v-model="descricao" placeholder="descrição" class="form-control d-inline-flex p-2 bd-highlight"/>
      </div>
      <div class="text-center">
        <button v-once class="col-sm-5 btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
      <br>
      <br>
      <div v-if="enable_alert" v-bind:class="class_alert" role="alert">
        {{ msg_alert }}
      </div>
      <h1 v-if="enable_result_input">{{ input }}</h1>
    </form>
  </div>
</div>
</body>
</html>
